.footer-item{
    color: black;
    text-decoration: none !important;
    font-weight: bold;
}
.contact-item{
    color: black;
    text-decoration: none !important;
    font-weight: bolder;
    font-size: x-large;
}
.text-center{
    text-align: center;
}

.text-end{
    text-align: end;
}

.text-start{
    text-align: start;
}

.separador{
   padding-top: 6rem !important;
  
}