.footer-item{
    color: black;
    text-decoration: none !important;
    font-weight: bold;
}
.contact-item{
    color: black;
    text-decoration: none !important;
    font-weight: bolder;
    font-size: 1.2rem;
}
.text-center{
    text-align: center;
}

.text-end{
    text-align: end;
}

.text-start{
    text-align: start;
}

.separador{
   padding-top: 6rem !important;
  
}

@media (max-width: 992px) {
    #map{
        width: 550px;
        height: 200px;
    }
    .contact-item{
        font-size: 1rem;
    }

    #footer-col1{
        width: 100% !important;
    }
    #footer-col2{
        margin-top: 1rem;
        width: 100% !important;
    }
    .foot-p{
        text-align: center !important;
    }
}